body {
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor:default;
}
a {
    color: whitesmoke;
    text-decoration: none;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
    transition: height 0.3 ease;
}
a:hover {
    color: orange;
    transform: translateY(-10px);
}

.context-container > p {
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
    color: lightsteelblue;
    
}

.about-body > h1 {
    margin: 50px;
    padding: 20px;
    position: inherit;
}

#redirect {
    font-size: 30px;
}

text {
    margin-top: 100px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}

i {
    font-size: 50px;
}
.navBar {
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navBar img {
    height: 60px;
    float: left;
    position: relative;
}
li {
    float: right;
    position: relative;
    margin: 10px;
}
li a {
    padding: 8px;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    font-weight:bold;
    padding-left: 15px;
    padding-right: 15px;
    
}

li::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 0;
    background-color: whitesmoke;
    transition: width 0.3s ease;
    border-radius: 20px;
}

li:hover::after {
    width: 80%;
}
li a:hover {
    color: #ffc800;
}

.logo.js {
  width: 20%;
  height: 20%;
}

#text-split .text-xl {
  font-size: 30px;
  color: currentColor;
  letter-spacing: 0.06em;
  line-height: 1.35;
}

.textsplit {
    font-size: 50px;
}

.borderline {
    background-color: white;
    border: 2px solid white;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    position: relative;
    border-radius: 30px;
    height: 3px;
}

::-webkit-scrollbar {
  display: none;
}

.about-body h2 {
    color: #ffffff;
    font-weight: normal;
}
.about-body h2:hover {
    color: #FFD700;
    
}
.about-body p {
    color:rgb(red, green, blue);
    line-height: 1.6;
    font-size: 1.05rem;
    max-width: 700px;
    margin: auto;
    text-align: justify;
}
.about-body img {
    width: 40%;
    border-radius: 10px;
    filter: drop-shadow(40px 20px 10px rgb( 25,25,25));
    transition: all 0.3s ease;
    margin-bottom: 50px;
}
.about-body img:hover {
    width: 45%;
    transform: scale(1);
}

.project-card {
    background: #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    max-width: 900px;
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.4);
}

.project-card img {
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.project-card p {
    margin: 50px;
}

.about-body i {
    margin-bottom: 30px;
    font-size: 70px;
}

.skillSet {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    text-align: center;
    position: relative;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
}

.skills {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
    transition: height 0.3 ease;
    border-radius: 12px;
}

.skills:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.4);
}

.progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #fc9403, #edf109);
    text-align: right;
    line-height: 25px;
    color: white;
    font-size: 12px;
    padding-right: 10px;
    border-radius: 20px;
}

.progress-container {
    margin-top: 5px;
    width: 100%;
    background-color:rgb(25, 25, 25);
    border-radius: 20px;
    overflow: hidden;
    height: 15px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
    border: 3px solid white;
}